h1{
    text-align: center;
    color: red !important;
}

h3{
    text-align: center;
}

#mission{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
}

#about{
    width: 100%;
    padding: 25px;
}

h4{
    text-align: center;
}
p{
    font-size: 20px;
}

h2{
    text-align: center;
}
#details{
    list-style-type: disc;
}

#more{
    float: none;
    font-size: 20px;
}

