#sponsors{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
  
}
#sponsors li{
      list-style-type: none;
    
}