h1{
    text-align: center;
    color: red !important;
}

h3{
    text-align: center;
}

#info{
    border-style: solid;
    border-width: 5px;
    position: relative;
}

.container{
    padding-top: 50px;
    width: 30%;
}

h4{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    padding-left: 300px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.jumbotron{
    margin-bottom: 0px;
}